# Python-specific
/venv/bin/*
/venv/lib/*
/venv/lib64/*
/venv/pyvenv.cfg
/venv/include/*
/venv/Scripts/*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other Python tools
.pytest_cache/
/.tox/
/coverage/
/htmlcov/
/mypy_cache/
.dmypy.json
.pyre/
.pytype/

__pycache__/

# Ignore project history file
project-history.json

# 📌 ML & Model-related files
*.pth
*.h5
*.ckpt
*.onnx
*.tflite
*.log
*.pt        # PyTorch model files
*.bin       # Transformer model weights
__results__/
runs/       # Training logs (if using TensorBoard)