# Python-specific
/venv/bin/*
/venv/lib/*
/venv/lib64/*
/venv/pyvenv.cfg
/venv/include/*
/venv/Scripts/*

/.venv/bin/*
/.venv/lib/*
/.venv/lib64/*
/.venv/pyvenv.cfg
/.venv/include/*
/.venv/Scripts/*

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other Python tools
.pytest_cache/
/.tox/
/coverage/
/htmlcov/
/mypy_cache/
.dmypy.json
.pyre/
.pytype/

__pycache__/

# Ignore project history file

/src/classifier/baseModel/JEMS_team_allocator/
/src/classifier/runningModels/
/src/classifier/history/

/src/history/category_schedules.json
/src/history/team_allocation.json
/src/history/special_requests.json

# /src/classifier/*

# project-history.json

# classification_history.json
# task_classification_model.pkl

# label_encoder.pkl
# task_scheduling_classifier.pkl

# synthetic_project_dataset.json
dataset.json

# 📌 ML & Model-related files
*.pth
*.h5
*.ckpt
*.onnx
*.tflite
*.log
*.pt        # PyTorch model files
*.bin       # Transformer model weights

# 📌 Data files
/results/checkpoint-20/*
/results/checkpoint-40/*
/results/checkpoint-60/*
/results/checkpoint-80/*
/results/checkpoint-100/*

.env

.vercel
