numpy
pandas
fastapi
uvicorn
pydantic
sqlalchemy
mysql-connector-python
python-dotenv
gunicorn
requests
werkzeug==1.0.1
torch
transformers
datasets
peft
bitsandbytes
accelerate

aiohttp

orjson  # Faster JSON processing (optional)

sentencepiece

